@model IEnumerable<jQueryAjaxInAsp.NetMvc.Areas.ACEP.ViewModels.VM_TBL_ACEP_ECON_SEC_SUB_CATEGORY>

@{ ViewBag.Title = "Economic Sector Sub-Category";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h3>
    <a href="@Url.Action("Create","EconSecSubCategory",new { area = "acep"})" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-plus">ADD New Sub-Category</span>
    </a>
</h3>
<div class="row col-sm-8">
    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title"> @ViewBag.Title </h3>
        </div>

        <div class="panel-body">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ES_SUB_CATEGORY_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ES_SUB_CATEGORY_NAME)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EP_CATEGORY_ID)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.ES_CATEGORY_NAME)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ES_SUB_CATEGORY_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ES_SUB_CATEGORY_NAME)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.EP_CATEGORY_ID)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ES_CATEGORY_NAME)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.EP_SUB_CATEGORY_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EP_SUB_CATEGORY_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EP_SUB_CATEGORY_ID })|*@
            <a href="@Url.Action("Edit", "EconSecSubCategory", new { id = item.ES_SUB_CATEGORY_ID })" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit">Edit</span>
            </a>
            <a href="@Url.Action("Details", "EconSecSubCategory", new { id = item.ES_SUB_CATEGORY_ID })" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-eye-open">Details</span>
            </a>
            <a href="@Url.Action("Delete", "EconSecSubCategory", new { id = item.ES_SUB_CATEGORY_ID })" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash">Delete</span>
            </a>
        </td>
    </tr>
}

            </table>
        </div>
    </div>
</div>

