@model IEnumerable<jQueryAjaxInAsp.NetMvc.Areas.ACEP.ViewModels.VM_TBL_ACEP_ECON_PUR_TRANSACTION>
<table id="myDataTable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PERIOD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUB_CAT_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SANCTION_LIMIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISBURSEMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RECOVERY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OVERDUE)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PERIOD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUB_CAT_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SANCTION_LIMIT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISBURSEMENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RECOVERY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SMA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OVERDUE)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TXN_GUID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TXN_GUID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TXN_GUID })
                </td>
            </tr>
        }
    </tbody>
</table>
