@model jQueryAjaxInAsp.NetMvc.Areas.ACEP.ViewModels.VM_TBL_ACEP_ECON_PUR_TRANSACTION

@{
    ViewBag.Title = "Delete Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a href="@Url.Action("Index","EconPurTransaction",new { area = "acep"})" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-step-backward">Back To List</span>
    </a> | @ViewBag.Title
</h3>

<div class="row col-sm-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"> Are you sure you want to delete this? </h3>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                @*<div>
                <h4>TBL_ACEP_ECON_PUR_TRANSACTION</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OFFICEID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OFFICEID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PERIOD)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PERIOD)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SUB_CAT_ID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SUB_CAT_ID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SANCTION_LIMIT)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SANCTION_LIMIT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DISBURSEMENT)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DISBURSEMENT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RECOVERY)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RECOVERY)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DF)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DF)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SMA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SMA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SD)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SD)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OVERDUE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OVERDUE)
                    </dd>
                </dl>

                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>*@
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.OFFICEID)</th>
                        <td>@Html.DisplayFor(model => model.OFFICEID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.OFFICENAME)</th>
                        <td>@Html.DisplayFor(model => model.OFFICENAME)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PERIOD)</th>
                        <td>@Html.DisplayFor(model => model.PERIOD)</td>
                    </tr>
                    @*<tr>
            <th>@Html.DisplayNameFor(model => model.SUB_CAT_ID)</th>
            <td>@Html.DisplayFor(model => model.SUB_CAT_ID)</td>
        </tr>*@
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SUB_CAT_NAME)</th>
                        <td>@Html.DisplayFor(model => model.SUB_CAT_NAME)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SANCTION_LIMIT)</th>
                        <td>@Html.DisplayFor(model => model.SANCTION_LIMIT)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DISBURSEMENT)</th>
                        <td>@Html.DisplayFor(model => model.DISBURSEMENT)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.RECOVERY)</th>
                        <td>@Html.DisplayFor(model => model.RECOVERY)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SS)</th>
                        <td>@Html.DisplayFor(model => model.SS)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DF)</th>
                        <td>@Html.DisplayFor(model => model.DF)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.BL)</th>
                        <td>@Html.DisplayFor(model => model.BL)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SMA)</th>
                        <td>@Html.DisplayFor(model => model.SMA)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SD)</th>
                        <td>@Html.DisplayFor(model => model.SD)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.OVERDUE)</th>
                        <td>@Html.DisplayFor(model => model.OVERDUE)</td>
                    </tr>
                </tbody>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <p>
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash">Delete</span>
                    </button>
                </p>
            }
        </div>
    </div>
</div>


