@model jQueryAjaxInAsp.NetMvc.Areas.ACEP.ViewModels.VM_TBL_ACEP_ECON_SEC_TRANSACTION

@{
    ViewBag.Title = "Transaction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a href="@Url.Action("Index","EconSecTransaction",new { area = "acep"})" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-step-backward">Back To List</span>
    </a> | @ViewBag.Title
</h3>

<div class="row col-sm-8">
    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title"> Details </h3>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.OFFICEID)</th>
                        <td>@Html.DisplayFor(model => model.OFFICEID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PERIOD)</th>
                        <td>@Html.DisplayFor(model => model.PERIOD)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SUB_CAT_ID)</th>
                        <td>@Html.DisplayFor(model => model.SUB_CAT_ID)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SANCTION_LIMIT)</th>
                        <td>@Html.DisplayFor(model => model.SANCTION_LIMIT)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DISBURSEMENT)</th>
                        <td>@Html.DisplayFor(model => model.DISBURSEMENT)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.RECOVERY)</th>
                        <td>@Html.DisplayFor(model => model.RECOVERY)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SS)</th>
                        <td>@Html.DisplayFor(model => model.SS)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DF)</th>
                        <td>@Html.DisplayFor(model => model.DF)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.BL)</th>
                        <td>@Html.DisplayFor(model => model.BL)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SMA)</th>
                        <td>@Html.DisplayFor(model => model.SMA)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SD)</th>
                        <td>@Html.DisplayFor(model => model.SD)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.OVERDUE)</th>
                        <td>@Html.DisplayFor(model => model.OVERDUE)</td>
                    </tr>
                    <tr>
                            <th>@Html.DisplayNameFor(model => model.CREATED_BY)</th>
                            <td>@Html.DisplayFor(model => model.CREATED_BY)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CREATION_DT)</th>
                            <td>@Html.DisplayFor(model => model.CREATION_DT)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.EDITED_BY)</th>
                            <td>@Html.DisplayFor(model => model.EDITED_BY)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.UPDATED_AT)</th>
                            <td>@Html.DisplayFor(model => model.UPDATED_AT)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SYSTEM_DT)</th>
                            <td>@Html.DisplayFor(model => model.SYSTEM_DT)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.OPERATION_STATUS)</th>
                            <td>@Html.DisplayFor(model => model.OPERATION_STATUS)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AUTHORIZATION_STATUS)</th>
                            <td>@Html.DisplayFor(model => model.AUTHORIZATION_STATUS)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AUTHORIZED_BY)</th>
                            <td>@Html.DisplayFor(model => model.AUTHORIZED_BY)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AUTHORIZATION_DATE)</th>
                            <td>@Html.DisplayFor(model => model.AUTHORIZATION_DATE)</td>
                        </tr>
                </tbody>
            </table>

            <p>
                <a href="@Url.Action("Edit", "EconSecTransaction", new { id = Model.TXN_GUID })" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-edit">Edit</span>
                </a>
            </p>

        </div>
    </div>
</div>

@*<div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OFFICEID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OFFICEID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PERIOD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PERIOD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SUB_CAT_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SUB_CAT_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SANCTION_LIMIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SANCTION_LIMIT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DISBURSEMENT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DISBURSEMENT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RECOVERY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RECOVERY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SMA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SMA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OVERDUE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OVERDUE)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TXN_GUID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
